#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
[Unit]
Description=Run Docker prune periodically

[Timer]
OnCalendar={{ docker_prune_frequency }}
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
