#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
[Unit]
Description=Run Docker backup periodically

[Timer]
{% if docker_backup_frequency == 'hourly' %}
OnCalendar=hourly
{% elif docker_backup_frequency == 'daily' %}
OnCalendar=daily
{% elif docker_backup_frequency == 'weekly' %}
OnCalendar=weekly
{% elif docker_backup_frequency == 'monthly' %}
OnCalendar=monthly
{% else %}
OnCalendar=daily
{% endif %}
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target

